body{
	background-color: #000;
}

#masthead {
  background-color: transparent;
  background-image: none;
}

#title {
  margin-top: 10px;
}

.wp-block-observant-records-release-list {
	.card {
		flex: 0 0 25%;
		background-color: inherit;
	}
}

.wp-block-observant-records-news-cards {
	.card {
		background-color: #404040;
		flex: 0 0 33%;
	}
}

#footer {
  background-color: transparent;
  background-image: none;
}


img.bg
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.promo {
	li {
		&.list-group-item {
			background-color: inherit;
			border-color: $light-grey-2;
		}
	}
}
