body {
	color: $flat-white;
}

a {
  color: $light-blue-2;
  &:hover {
    color: $flat-red;
  }
}

#title {
  font-family: 'Rock Salt', sans-serif;
  a {
    text-decoration: none;
    color: #FFF;
  }
}

.table {
  color: $off-white;
}

footer {
  color: $flat-white;
  font-size: 95%;
  a {
    color: $light-grey-2;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
